.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app>.nav-bar>nav>ul {
  display: flex;
  justify-content: center;
}

.app>.nav-bar>nav>ul>li {
  padding: 10px;
  list-style: none;
}

.todo-list {
  width: 90%;
  text-align: center;
}

.todo-group {
  text-align: left;
}

.todo-item {
  border: 1px solid #CCC;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.todo-item div {
  cursor: pointer;
}

.todo-generator {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.todo-generator input {
  width: 100%;
  padding: 8px 16px 8px 16px;
  margin-right: 16px;
}

.todo-generator button {
  width: 180px;
}

.task-name.done {
  text-decoration: line-through;
}

.todo-detail {
  width: 480px;
  text-align: center;
}

.buttons-box {
  display: flex;
  width: 70px;
  flex-direction: row;
  justify-content: space-between;
}